<!DOCTYPE html>
<html>
<head>
    <title>SampleServe</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://app.sampleserve.net/dist/bundle.css">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="http://app.sampleserve.net/{{{bundle}}}"></script>
</body>
</html>
