
@import "static/css/bootstrap.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";

.pointer {
    cursor: pointer;
}

.rich-text-editor {
  height: 250px;
  font-family: 'helvetica'
}
